<a href="https://colab.research.google.com/github/simoneminorr/ds1002-uqa9qp/blob/main/homework/week-3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 3

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL for your notebook for grading.

## 1. Variables

Declare and populate three variables below. Be sure your code outputs each variable:

1. Containing a string
2. Containing a boolean
3. Containing an integer

In [5]:
# Put answers below
#string
string1= "Live, Laugh, Love "
print(string1)
#boolean (TRUE/FALSE)
print (24*7+8==9*4/3)
#integer
x= 23
print(x)

Live, Laugh, Love
False
23

## 2. String Manipulation

Take the following string and, using python commands, show how to fulfill the requested task. Be sure your code outputs the requested data.

String: "Go Hoos, Beat JMU!"

1. Write a command that extracts the first 8 characters of the string.
2. Write a command that extracts the last 4 characters of the string.

In [17]:
# Put answers below
string2= "Go Hoos, Beat JMU!"
#First 8 characters
string2[:8]

'Go Hoos,'

In [18]:
# Put answers below
#Last 4 characters
string2[-4:]

'JMU!'

# 3. Concatenation

1. Declare any two string variables and concatenate them.
2. Declare a string parameter and concatenate another hard-coded phrase with it.

In [3]:
#Declare any two string variables and concatenate them.
string1= "Live, Laugh, Love, "
string2= "Crochet"
string3= string1+string2
print(string3)

Live, Laugh, Love, Crochet

In [5]:
#Declare a string parameter and concatenate another hard-coded phrase with it.
string1+string2+ "and Love Again"
print(string3 + " and Love Again")

Live, Laugh, Love, Crochet and Love Again

# 4. Math Operations

Using the following numeric variables, write Python code that fulfills the requested operations. Be sure your code outputs the correct results.

```python
var1 = 9
var2 = 12
var3 = 48
var4 = 4
```

1. Divide var3 by var2
2. Multiply var1 by var4
3. Write a Python expression that gives a result of `16`.

In [24]:
# Put answers below
var1= 9
var2= 12
var3=48
var4=4
var3//var2

4

In [25]:
#multiply var1 by var4
var1*var4

36

In [26]:
#write python expression that gives a result of 16
var3//var2*var4

16