<a href="https://colab.research.google.com/github/simoneminorr/ds1002-uqa9qp/blob/main/homework/week-13.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Homework - Week 13

Complete the following blocks as specified in the directions. Run each cell to return the desired output. Save your notebook back to your GitHub repository and submit the GitHub URL to your notebook for review.

## 1. Change Runtime to R (1 pt)

Change the runtime of this notebook to R. You can verify that you are running R by displaying the current version you are running. Run the cell below and show the output.

In [1]:
version

               _
platform       x86_64-pc-linux-gnu
arch           x86_64
os             linux-gnu
system         x86_64, linux-gnu
status
major          4
minor          3.2
year           2023
month          10
day            31
svn rev        85441
language       R
version.string R version 4.3.2 (2023-10-31)
nickname       Eye Holes

## 2. Create Vectors (2 pts)

Create two vectors in the cells below, according to the prompts given.

In [2]:
# create a vector with 7 integer values. Assign it to a variable named "my_integers"
my_integers <- c(2,35,92,3,4,29,17)

In [ ]:
var1 = 8
var2 = 4
var3 = 12
var4 = 25

var1 <- 8
var2 <- 4
var3 <- 12
var4 <- 25

var5 <- var2/var1
var6 <- var2^3 * var3
var7 <- var4/var3

my_calculated_values <- array(c(var5,var6,var7), dim= c(4,4,3))

# Using the variables given above, assign three new variables the following calculated values:
#
# 1. Your first variable should be assigned the calculated value of var2 divided by var1.
# 2. Your second variable should be assigned the calculated value of var2 cubed times var3.
# 3. Your third variable should be assigned the calculated value of var4 integer divided by var3.
#
# Next, create an array populated by your three variables. Assign the array to a new variable named "my_calculated_values"

In [6]:
var1 <- 8
var2 <- 4
var3 <- 12
var4 <- 25

var5 <- var2/var1
var6 <- var2^3 * var3
var7 <- var4/var3

my_calculated_values <- array(c(var5,var6,var7), dim= c(4,3,1))
print(my_calculated_values)

, , 1

           [,1]       [,2]       [,3]
[1,]   0.500000 768.000000   2.083333
[2,] 768.000000   2.083333   0.500000
[3,]   2.083333   0.500000 768.000000
[4,]   0.500000 768.000000   2.083333

## 3. Vector Indexes (3 pts)

In the cell below, create a vector that starts with the integer 4, that increments by counts of 3 all the way to 28.

Assign the vector to a variable name.

In [16]:
#
s1 <- seq(from=4, to=28, by=3)
s1

[1]  4  7 10 13 16 19 22 25 28

Next, show how to display this vector with the 3 index removed.

In [17]:
#
s1[-3]

[1]  4  7 13 16 19 22 25 28

Finally, show how to delete the 4th, 5th, and 7th indexes from the vector and update the vector so they are forever removed from the vector.

Hint: there is a fairly simple way to do this in one line, such that you don't have to run a separate command for each removal.

In [20]:
#
s2 <- s1[-4][-4][-5]
s2

[1]  4  7 10 19 25 28

## 4. Create a Data Frame (3 pts)

In the cell below create a data frame with 10 observations (rows) and 5 variables (columns) each. This data frame will describe some of your favorite musical performers. You can use real or fictitious data to populate your data frame.

Variables:
  - `artist` - Artist or band name
  - `category` - Rock, Pop, Country, Hip-hop, Jazz, Classical, Soul, Other. (Try to distribute your selections here)
  - `size` - (number of members, 1-?)
  - `start` - Debut year of artist.
  - `grammy` - Grammmy winner? `TRUE` | `FALSE`

First create vectors for each variable populated with your own performer data. Then create a data frame from these vectors (be sure to assign column names too) and assign it to a named variable such as `df`.

In [12]:
#
artist <- c("Giveon", "Kehlani", "Bryson Tiller", "Summer Walker", "Brent Faiyez", "Snoh Alegra", "Teyana Taylor", "Ella Mai", "Drake", "Lil Durk")
category <- c("Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Rhythm & Blues", "Hip Hop", "Hip Hop")
size <- c(1,1,1,1,1,1,1,1,1,1)
start <- c(2018, 2015, 2014, 2018, 2016, 2020, 2018, 2018, 2008, 2016)
grammy <- c(FALSE,FALSE,FALSE,FALSE,FALSE,FALSE,TRUE,FALSE,TRUE,FALSE)

df <- data.frame(Artist=artist, Genre=category, Number_of_Musicians= size, Start_of_Career= start, Have_they_won_a_Grammy=grammy)
df

   Artist        Genre          Number_of_Musicians Start_of_Career
1  Giveon        Rhythm & Blues 1                   2018
2  Kehlani       Rhythm & Blues 1                   2015
3  Bryson Tiller Rhythm & Blues 1                   2014
4  Summer Walker Rhythm & Blues 1                   2018
5  Brent Faiyez  Rhythm & Blues 1                   2016
6  Snoh Alegra   Rhythm & Blues 1                   2020
7  Teyana Taylor Rhythm & Blues 1                   2018
8  Ella Mai      Rhythm & Blues 1                   2018
9  Drake         Hip Hop        1                   2008
10 Lil Durk      Hip Hop        1                   2016
   Have_they_won_a_Grammy
1  FALSE
2  FALSE
3  FALSE
4  FALSE
5  FALSE
6  FALSE
7   TRUE
8  FALSE
9   TRUE
10 FALSE

## 5. Filter/Query a Data Frame (2 pts)

Use the data frame you created above and show how to perform the following queries.

In [24]:
# Display the first 3 records and only the `artist`, `category` and `grammy` columns for each.
df[1:3,-(3:4)]

  Artist        Genre          Have_they_won_a_Grammy
1 Giveon        Rhythm & Blues FALSE
2 Kehlani       Rhythm & Blues FALSE
3 Bryson Tiller Rhythm & Blues FALSE

In [30]:
# Display the records for just one musical category, such as only Rock bands or only Hip-hop bands.
df[ ,2:2]

 [1] "Rhythm & Blues" "Rhythm & Blues" "Rhythm & Blues" "Rhythm & Blues"
 [5] "Rhythm & Blues" "Rhythm & Blues" "Rhythm & Blues" "Rhythm & Blues"
 [9] "Hip Hop"        "Hip Hop"

## Query a Data Frame using `tidyverse` (4 pts)

1. Show how to load the library.
2. Show how to glimpse basic features of the `starwars` data table.
3. Create a query using tidyverse that retrieves the following data:
    - Selects only these columns: `name`, `height`, `sex`, `species`.
    - Filters for all species that are NOT Human.
    - Arranges the resulting data in order by name.

Show your output in a data frame.

In [35]:
#
install.packages("tidyverse")
library(tidyverse)

%>% = piping

df %>%

ERROR: ignored

In [34]:

starwars %>%
  select(name, height, sex, species) %>%
  filter(species == "NOT Human") %>%
  arrange(name)
  na.omit()

ERROR: ignored