<a href="https://colab.research.google.com/github/simoneminorr/ds1002-uqa9qp/blob/main/homework/week-8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## While-Loops

Perform the following steps in code:
1. Define a variable and populate it with `0`.
2. Create a while statement that evaluates whether that variable is less than or equal to `20`.
3. Within the while loop evaluate if the variable value is even or odd.
4. Within the while loop, if the variable value is even, print it. If not, do not print it.
5. Within the while loop, finally add `1` to the variable before it repeats.

In [28]:
# code here
var1= 0
while var1 <= 20:
  if var1 % 2== 0:
   if var1 != 0:
    continue
    print (var1+1)

KeyboardInterrupt: ignored

## For-Loops with Lists

In [5]:
# Use this list in the exercises below

mylist = [9, 15, 23, 4, 92, 47, 33, 17, -4, 18, 38, -242]

In [10]:
# Write a command to print out all the values of this list
# EXCEPT for any negative values. Omit them from the printing.
for numbers in mylist:
  if numbers >=0:
    print(numbers)
  else:
    continue

9
15
23
4
92
47
33
17
18
38

In [11]:
# Repeat the command from above, but this time get
# the absolute value of any negative values in the list
# and print those with the other items.
for numbers in mylist:
  if numbers >=0:
    print(numbers)
  else:
    print(abs(numbers))

9
15
23
4
92
47
33
17
4
18
38
242

In [13]:
# Similar to above, write a command to print out items in
# the list but omit any values greater than 20 and less than 40.
for numbers in mylist:
  if 20< numbers< 40:
    print(numbers)
  else:
    continue

23
33
38

## For-Loops with Dictionaries

In [14]:
capitals = {'United States':'Washington DC',
          'Italy':'Rome',
          'England':'London',
          'Thailand':'Bangkok',
          'Brazil':'Brasilia'}

In [15]:
# Write a command to print out all the keys of this dict
capitals.keys()

dict_keys(['United States', 'Italy', 'England', 'Thailand', 'Brazil'])

In [16]:
# Write a command to print out all the values of this dict
for capital in capitals:
  print(capitals[capital])

Washington DC
Rome
London
Bangkok
Brasilia

In [17]:
# Write a command to print all the keys and values for this dict

print(capitals)

{'United States': 'Washington DC', 'Italy': 'Rome', 'England': 'London', 'Thailand': 'Bangkok', 'Brazil': 'Brasilia'}

In [27]:
# Write a command to print only the first three values and NOTHING more.
for capital in capitals:
  print(capitals['United States'])
  print(capitals['Italy'])
  print(capitals['England'])
  break

Washington DC
Rome
London